.container {
  display: flex; /* Enables flexbox */
  height: 100vh; /* Full viewport height */
  width: 1509px;
}

.sidebar {
  width: 260px;
  background-color: #00135D;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 31px;
  margin-left: 30px;
  font-weight: normal;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 40px 8px;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.sidebar nav ul li a:hover {
  color: #00bfff;
  background-color: #013a8c;
}

.active-link {
  background-color: #0552BE;
  color: #002d72;
  font-weight: bold;
}

.img-logo {
  width: 175px;
  height: 76px;
  margin-left: 36px;
  margin-top: 22px;
  margin-bottom: -14px;
}

.logout-section {
  margin-top: auto;
  width: 100%;
}

.logout-btn {
  width: 100%;
  background-color: #4a0ed854;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: background-color 0.3s ease;
  margin-top: 48px;
}


.logout-icon {
  width: 20px;
  height: 20px;
}

